.env
.DS_STORE

node_modules/
/artifacts/storage/
/artifacts/trace/
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
